.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;

    &__container {
        display: flex;
        align-items: center;
    }
    
    &__logo{
        color: var(--logo-color);
        font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
    }

    &__img {
        color: var(--accent-color);
        font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
    }

    &__nav {
        margin-left: 93px;
        margin-right: auto;

    }

    &__list {
        display: flex;
        gap: 50px;
    }

    &__item {
        display: flex;
        align-items: center;

        &:first-child .header__svg {
            width: 16px;
            height: 12px;
        }
        
        &:last-child .header__svg {
            width: 10px;
            height: 16px;
        }


    }

    &__link {
        transition-property: color;
        transition-duration: 250ms ;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        color: var(--added-color);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        display: flex;
        align-items: center;
        gap: 10px;
        &:hover,
        &:focus {
            color: var(--accent-color);
        
            .header__svg {
                fill: #2196F3;
            }
        }
    }
    &__svg {
        fill: #757575;
        transition-property: fill;
        transition-duration: 250ms ;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}





.nav{
    &__list {
        display: flex;
        gap: 50px;
    }

    &__link {
        transition-property: color;
        transition-duration: 250ms ;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        color: var(--text-color);
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        position: relative;

        &:hover,
        &:focus {
            color: var(--accent-color);
        
        }
    }
}






.curent {
    color: var(--accent-color);

}

.curent::after  {
    content: "";
    top: 45px;
    left: 0;
    display: block;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
     border-radius: 2px;
     position: absolute;
}







/* .header-link:focus{
    color: var(--accent-color);
} */
